.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(rgba(0, 0, 0, 0.221), rgba(0, 0, 0, 0.7)),
    url(../public/img/5de45af789ac05bb81f87c427af5ef09.jpeg) no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(5px);
  /* background-image: url(../public/img/sandwich.jpeg);
  background-repeat: no-repeat;
  background-size: cover; */
}
